

<div class='userFavorites'>
	{% for mf in favorites.mefi: %}
		<div>{{ mf.full_text|safe }}</div>
		<hr>
	{% endfor %}

	{% for favorite in favorites.tweets: %}
		<div id="{{ favorite.id }}" class='userFavoritesList'>
			<div id="nonce{{ favorite.nonce}}" class='metaTweet'>
				<div class='author' title='{{ favorite.author.description }}'>
					<a href='//twitter.com/{{ favorite.author.screen_name }}'>
						<b>#{{ favorite.fave_id }}#</b>
						<img class='icon' src='{{ favorite.author.profile_image_url }}' />
						<div class='user_name'>@{{ favorite.author.screen_name }}</div>
						<div class='real_name'>{{ favorite.author.name }}</div>
					</a>
				</div>
				<div class='tweet'>
					<a href='//twitter.com/{{ favorite.author.screen_name }}/status/{{ favorite.id }}'>{{ favorite.full_text|safe }}</a>
				</div>
				{% for entity in favorite.entities: %}
					<div class='entity'>
						<a href='{{ entity.media_url }}'>
							<img style="max-height: 350px; max-width: 500px;" class='media_url' src='{{ entity.media_url }}'/>
						</a>
					</div>
				{% endfor %}
				<div class='timestamp'>{{ favorite.created_at }}</div>
			</div>
		</div>
		<hr>
	{% endfor %}
</div>

<!--div class='keyBindList'>
	<div>foo</div>
	<div>bar</div>
	<div>baz</div>
</div-->

<style>
    /*.userFavorites {
		width:50px;
		margin-right:-100%;
		float:right;
    }

    .keyBindList {
		width:100%;
		float:right;
	}*/

	.author a {
		!important background-color: '#0F0';
	}
	.tweet a {
		!important background-color: '#00F';
	}
	.entity a {
		!important background-color '#F00';
	}


</style>

<script>
	//'use strict';

	pageX = pageY = 0;
	globalE = null;

	//whenever an alpha key is pressed, register an ajax event with the server.
	document.addEventListener('keypress', (event) => {
		const keyName = event.key;

		if (keyName >= 'z'
		|| keyName <= 'a') {
			return false;
		}


		dataArr = [];
		dataArr['ts'] = globalE.path[2].getElementsByClassName('metaTweet')[0].getElementsByClassName('timestamp')[0].innerHTML;
		dataArr['id'] = globalE.path[2].id;
		dataArr['user'] = 1;
		dataArr['tag'] = keyName;
		console.log('in keypress');
		console.log(dataArr);
		makeRequest(dataArr);
	});

	function encodeQueryData(dataArr) {
		let ret = [];
		for (let d in dataArr) {
			   ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(dataArr[d]));
		}
		return ret.join('&');
	}

	function makeRequest(dataArr) {
		httpRequest = new XMLHttpRequest();

		if (!httpRequest) {
			console.log('Giving up :( Cannot create an XMLHTTP instance');
			return false;
		}
		queryString = encodeQueryData(dataArr)
		httpRequest.onreadystatechange = alertContents;
		httpRequest.open('POST', 'tag', true);
		httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        console.log('in makerequest');
		console.log(queryString);
		// httpRequest.send(dataArr);
		httpRequest.send(queryString);
	}

	function alertContents() {
		if (httpRequest.readyState === XMLHttpRequest.DONE) {
			if (httpRequest.status === 200) {
				console.log(httpRequest.responseText);
			} else {
				alert('There was a problem with the request.');
			}
		}
	}

	//Whenever a tweet is moused over, populate it as the relevant tweet to apply to whenever a keypress is made.
	tweets = document.getElementsByClassName('userFavoritesList');
	for (var i = 0, len = tweets.length; i < len; i++) {
		tweets[i].addEventListener('mouseover', (event) => {
			globalE = event || window.event;
		});
	}
</script>
